@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
}
header {
    background-image: url("../img/Pet-Store.png");
    background-color: black;
    width: 100%;
    height: 395px;
    background-position: center center; 
    background-size: cover;
}
.itph {
    margin-left: 10%;
}
:link:hover { 
    border-radius: 2px;
    background-color: #513DD9;
}
nav:hover { background: #5F1BF2; 
}
nav {
    background-color: #5F1BF2;
    text-align: center;
    height: 70px;
    padding-top: 81px;
}
nav a{
    font-family: 'Roboto';
    text-decoration: none;
    font-size: large;
    margin-left: 1%;
    padding-left: 1%;
    padding: 5px 10px 5px 10px;
    color: #fff;
}
#txtBusca{
    float:left;
    background-color: white;
    border-radius: 6px;
    padding-left:5px;
    font-size:18px;
    border: solid 1px black;
    height:32px; 
    width:426px;
}
#btnBusca{
    float:left;
    cursor:pointer;
}
#divBusca img{
    float:left;
}
#divBusca{
    height:38px;
    width:400px;
    position: relative;
    left: 1100px;
    bottom: 40px;
}
section {
    float: left;
    margin-left: 8%;
    font-size: x-large;
}
section p{
    font-family: Arial, Helvetica, sans-serif;
    width: 200px;
    text-align: center;
}
h1 {
    margin-left: 7.5%;
    margin-top: 5%;
    margin-bottom: 1%;
    font-family: 'Roboto';
}
.preco {
    border: #5F1BF2 solid 4px;
    border-radius: 18px;
    text-align: center;
    width: 130px;
    margin-bottom: 10%;
    margin-left: 15.5%;
} 
h2 {
    margin-top: 27%;
    margin-left: 7.5%;
    margin-bottom: 1%;
    font-size: xx-large;
    font-family: 'Roboto'; 
}
img {
    border-radius: 9px;
    border: #5F1BF2 solid 1px;
}
table {
    width: 800px;
    border: 1px solid #5F1BF2;
    border-collapse: collapse;
    margin-left: 30%;
    margin-top: 50px;
}

th, td {
    border: 1px solid #5F1BF2;
    padding: 7px;
}

th {
    text-transform: uppercase;
    text-align: left;
    background: #5F1BF2;
    color: white;
    font-size: 90%;
}

tr:hover {
    background-color: #513DD9;
}

.moeda {
    text-align: right;
}
.titulotabela {
    margin-left: 36%;
}
